<section class="section">
  <div class="container">
    <% if notice %>
      <p class="notification is-success"><%= notice %></p>
    <% end %>
    <div class="box">
      <div class="control has-text-left mt-4">
        <%= link_to home_path, class: "button is-danger" do %>
          <span class="icon">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>Back</span>
        <% end %>
      </div>
      <div class="content has-text-centered">
        <h1 class="title">Teams</h1>
        <div class="columns is-multiline">
          <% @teams.sort_by(&:id).each do |team| %>
            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <p class="is-size-4 has-text-weight-bold"><%= team.name %></p>
                  <div class="logo-container">
                    <% if team.logo.attached? %>
                      <%= image_tag team.logo %>
                    <% end %>
                  </div>
                  <%= render team %>
                </div>
                <footer class="card-footer has-background-primary-light">
                  <%= link_to "See this team", team_path(team), class: "card-footer-item" %>
                </footer>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <a href="<%= new_team_path %>" class="button is-primary mt-4">New team</a>
    </div>
  </div>
</section>
