<p style="color: green"><%= notice %></p>

<h1>Predictions</h1>

<div id="predictions">
  <% @predictions.sort_by(&:id).each do |prediction| %>

    <%= "Prediction #" + prediction.id.to_s%> <br>
    <%= render prediction %>
    <p>
      <%= link_to "Show this prediction", prediction %>
    </p>
  <% end %>
</div>

<%= link_to "New prediction", new_prediction_path %>
