<h1>New Prediction</h1>

<%= form_with model: @prediction do |form| %>

  <div>
    <%= form.label :player_id %> <br>
    <%= form.number_field :player_id %>
  </div>

  <div>
    <%= form.label :match_id %> <br>
    <%= form.number_field :match_id %>
  </div>

  <div>
    <%= form.label :goals_team_1 %> <br>
    <%= form.number_field :goals1 %>
  </div>

  <div>
    <%= form.label :goals_team_2 %> <br>
    <%= form.number_field :goals2 %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <% end %>

<div>
  <%= link_to "Back to predictions", predictions_path %>
</div>
