<h1>Edit Match</h1>

<%= form_with model: @match do |form| %>
  <div>
    <%= form.label :goals_team_1 %> <br>
    <%= form.number_field :goals1 %> 
  </div>

  <div>
    <%= form.label :goals_team_2 %> <br>
    <%= form.number_field :goals2 %>
  </div>
  
  <div>
    <%= form.submit "Add Score"%>
  </div>

<% end %>

<br>

<div>
  <%= link_to "Show this match", @match %> |
  <%= link_to "Back to matches", matches_path %>
</div>
