<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<div id="matches">
  <% @matches.each do |match| %>
    <%= "Match #" + match.id.to_s%> <br>
    <%= "Team #1: " + match.team1_id.to_s%> <br>
    <%= "Team #2: " + match.team2_id.to_s%> <br>
    <%= "Goals #1: "+ match.goals1.to_s%> <br>
    <%= "Goals #2: " + match.goals2.to_s%> <br>
    <%= render match %>
    <p>
      <%= link_to "Show this match", match %>
    </p>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
