<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<div id="matches">
  <% @matches.each do |match| %>
    <h2>Match</h2>
    <li>
      <%= match.id%>
      <%= match.team1_id%>
      <%= match.team2_id%>
      <%= match.goals1%>
      <%= match.goals2%>
    </li>
    <%= render match %>
    <p>
      <%= link_to "Show this match", match %>
    </p>
  <% end %>
</div>

<%= link_to "New match", new_match_path %>
