<h1>New player</h1>


<%= form_with model: @player do |form| %>
  <div>
    <%= form.label :username %> <br>
    <%= form.text_field :username %> 
  </div>

  <div>
    <%= form.label :password %> <br>
    <%= form.password_field :password %>
  </div>
  
  <br>
    <%= form.submit %>
  </div>

  <% end %>

<div>
  <%= link_to "Back to players", players_path %>
</div>
