<p style="color: green"><%= notice %></p>

<%= render @player %>

<h1>Player Profile</h1>


<div class="box" id="players">
  <%= "Player #" + @player.id.to_s%> <br>
  <%= "Username: " + @player.username%> <br>
  <%= "Points: " + @player.leaderboard.points.to_s%> <br>
</div>

<div className="Actions" >
  <%= link_to "Matches", matches_path %> <br>
  <%= link_to "Leaderboard", leaderboards_path %> <br>
</div>

<div>
  <br> <%= link_to "Edit this player", edit_player_path(@player) %> |

  <%= link_to "Back to players", players_path %> <br>

  <br> <%= button_to "Destroy this player", @player, method: :delete %>
</div>
