<section class="section animate__animated animate__slideInUp animate__faster">
  <div class="container is-fluid">
    <div class="notification is-primary">
      <%= notice %>
    </div>
    
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="box play">
          <div class="card">
            <div class="card-content has-text-centered">
              <h1 class="title"><%= @player.username %> </h1>
              <p class="has-text">Player ID #<%= @player.id %></p> 
              <p class="has-text"> Joined on: <%= @player.created_at.strftime("%B %d, %Y") %></p>
            </div>
            <div class="card-content has-text-centered">
              <h1 class="title">Account Settings</h1>
              <div class="buttons is-centered">
                <%= link_to "Edit Account", edit_player_path(@player), class: "button is-info" %>
                <%= button_to "Delete Account", @player, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="box">
          <div class="card">
            <div class="card-content has-text-centered">
              <h1 class="title">Leaderboard Position</h1> <br>
              <p class="subtitle">You are currently ranked <%= leaderboard_position(@player) %>th! with <%= @player.leaderboard.points.to_s %> points.</p>
            </div> 
            <div class="card-content has-text-centered">
              <h1 class="title">Play</h1>
              <div class="buttons is-centered">
                <%= link_to "My Predictions", predictions_path(player_id: @current_player.id), class: "button is-primary" %>
                <%= link_to "My Matches", matches_path(player_id: @current_player.id), class: "button is-primary" %>
                <%= link_to "Leaderboard", leaderboards_path, class: "button is-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
